/* header class styling from the homepage.html file */
/*This defines the colour and size of the line that 
will seperate the header from the rest of the page */
.header {
  position: relative;
  border-bottom: 3px solid #1111;
  padding: 30px;
  margin-bottom: 45px;
}

/*header a will determine the colour, size, and decoration of the link text 
in the header when it is not currently select and the mouse is not havering over it */
.header a {
  text-decoration: none;
  color: #FF0000;
  margin-right: 30px;
  padding: 3px 5px;
}

/*When the mouse is hovering over the text in the header, it will be coloured red and underlined */
.header a:hover {
  color: #AA0000;
  text-decoration: underline;
}

/*When the header option is the one that is current (i.e. we are already on the page that the link would send us to) 
give it a pink background colour
*/
.header .current {
  background: #fcc;
}

/* This css is used to keep the login buttons at a fixed position in the top right portion of the window */
.header .header-login {
  position: absolute;
  top: 0;
  right: 0;
}

.header .header-login .current {
  background-color: #fcc
}

.main-wrap {
  width: 50%;
  margin: 0 auto;
}

.restaurant-name {
  width: 50%;
  margin: 0 auto;
}

.image-container {
  margin: 0 auto;
}

/*This defines the colour and size of the line that 
will seperate the header from the rest of the page */
.footer {
  border-top: 3px solid #1111;
  padding: 30px;
  margin-top: 45px;
}

/*Using this we can make links look like buttons 
will only be applied to links that have the class button in the html files
This is a placeholder that we may replace later
*/
.button {
  font: bold 11px Arial;
  text-decoration: none;
  color: #333333;
  background-color: #EEEEEE;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

/*Making Columns with Flexbox*/
/*
  In flex column specifications we use clear to denote that nothing is to float to the left or right of it.
  add a margin to the rows so that there will be space between them
  this will make it easier to tap on buttons or textboxes that are in rows when on a mobile device
*/
.flex-columns{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #ffffff;
  width: 100%;
  margin: 20px;
}

.flex-col {
	width: 30%;
	text-align: center;
}
#flex-title {
	width: 100%;
	text-align: center;
}


/*
  In row specifications we use clear to denote that nothing is to float to the left or right of it.
  add a margin to the rows so that there will be space between them
  this will make it easier to tap on buttons or textboxes that are in rows when on a mobile device
*/
.row {
	clear: both;
	float: left;
	overflow: hidden;
  width: 100%;
  margin: 10px;
}

.title {
	text-align: center;
	width: 100%
}

